@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">Bloqueda</h1>
    <h2 class="text-error">Esta cuenta ha sido bloquedada, por favor inténtelo de nuevo más tarde.</h2>
</hgroup>
