@model BonaCompraVotaciones.ViewModels.VotarViewModel

@{
    ViewBag.Title = "¡Gracias por votar!";
}

<div class="row">
  <h1>
    @Model.Estado
  </h1>

  <hr/>
  <!--
  <p>Puede consultar los resultados de las votaciones en nuestra web.</p>
  <p><a class="btn btn-primary" href="http://bonacompra.net">RESULTADOS DE LAS VOTACIONES</a></p>
  -->
</div>